*{
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#navbar a{
    font-size: 0.9rem;
    color: white;
    font-weight: 500;
    text-decoration: none; 

}

#navbar div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton{
    background-color: #E63946; 
    color: #fff; 
    padding: 0.8rem 1.5rem; 
    border-radius: 30px;
} 